<div class="conversation row">
  <div class="message row">
    <div class="msg-headers col s2">
      <h3><%= link_to conversation.originator.username, user_path(conversation.originator) %></h3>
      <div class="date">
        <%=  format_date(conversation.messages.last.created_at) %>
      </div>
      <div class="action-links">
      <%unless conversation.is_trashed?(current_user) %>
        <%= link_to trash_conversation_path(conversation), class: 'btn btn-floating trash', method: :post, data: {confirm: 'Are you sure?'} do %>
          <i class="material-icons">delete</i>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="msg-content col s10">
      <h4><%= link_to conversation.subject, conversation_path(conversation) %></h4>
      <div class="body">
        <%= truncate conversation.messages.last.body, length: 145 %>
      </div>
    <%= link_to "View Conversation", conversation_path(conversation)  %>
    </div>
  </div>
</div>
