<div class="conversation">
  <h3 class="subject"><%= conversation.subject %></h3>
  <h4 class="sender">From: <%= conversation.originator.username %></h4>
  <b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %>
  <div class="body">
    <%= truncate conversation.messages.last.body, length: 145 %>
  </div>
  <%= link_to "View Conversation", conversation_path(conversation)  %>

<div class="trash">
  <%= link_to trash_conversation_path(conversation), class: 'btn btn-floating', method: :post, data: {confirm: 'Are you sure?'} do %>
    <i class="material-icons">delete</i>
  <% end %>
 </div>
</div>

