<%= render 'mailbox/folders' %>
<%= render partial: 'messages' %>
<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
<div class="row">
<div class="form-group input-field col s12">
<%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control", class: "materialize-textarea"   %>
</div>
<%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
<% end %>
</div>