<%= form_for user do |f| %>
  <div class="form-field"><%= f.label :username %>
  <%= f.text_field :username %></div>
	<div class="form-field"><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>
  <div class="form-field"><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>
  <div class="form-field"><%= f.label :email %>
  <%= f.text_field :email %></div>
  <div class="form-field"><%= f.label :password %>
  <%= f.password_field :password%></div>
  <div class="form-field"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  <div class="form-field"><%= f.label :zip_code %>
  <%= f.text_field :zip_code %></div>
  <%= f.submit "Sign up" %>
<% end %>
