<div class="user-profile">
  <div class="username"><%= @user.username %></div>
  
  <div class="links">
    <% if @user.github_link %>
      <div class="github"><a href="<%= @user.github_link%>">GitHub</a>
    <% end %>
    <% if @user.website_link %>
      <div class="website"><a href="<%= @user.website_link%>">Website</a>
    <% end %>
  </div>
  
  <div class="bio"><%= @user.bio %></div>

  <div class="projects-created">
    <%= render @projects_created %>
  </div>

  <div class="projects-created">
    <%= render @projects_collaborated_on %>
  </div>

</div>