<div class="user-profile">

  <div class="avatar"><img src="<%= @user.gravatar_url %>"></div>
  <div class="username"><%= @user.username %></div>
  
  <div class="links">
    <% if @user.github_link %>
      <div class="github"><a href="<%= @user.github_link%>">GitHub</a>
    <% end %>
    <% if @user.website_link %>
      <div class="website"><a href="<%= @user.website_link%>">Website</a>
    <% end %>
  </div>
  
  <div class="bio"><%= @user.bio %></div>

  <div class="projects-created">
    <h3><%= @user.username %>'s projects</h3>
    <% if @projects_created.count > 0 %>
      <%= render @projects_created %>
    <% else %>
      <em><%= @user.username %> has not created any projects</em>
    <% end %>
  </div>

  <div class="projects-created">
    <h3>Projects <%= @user.username %> is collaborating on</h3>
    <% if @projects_collaborated_on.count > 0  %>
      <%= render @projects_collaborated_on %>
    <% else %>
      <em><%= @user.username %> is not collaborating on any projects</em>
    <% end %>
  </div>

</div>