<ul class="folders tabs">
  <li class="<%= active_page(:inbox) %> tab col s3">
    <%= link_to mailbox_inbox_path do  %>
        <span class="unread"><%=unread_messages_count%></span>
        <span>Inbox</span>
    <% end %>
  </li>
  <li class="<%= active_page(:sent) %> tab col s3">
    <%= link_to "SENT", mailbox_sent_path %>ds
  </li>
  <li class="<%= active_page(:trash) %> tab col s3">
    <%= link_to "TRASH", mailbox_trash_path %>
  </li>
</ul>