<ul class="folders col s1">
  <li class="<%= active_page(:inbox) %>">
    <%= link_to mailbox_inbox_path, class: "btn-flat" do %>Inbox
    <% end %>
    </li>
  <li class="<%= active_page(:sent) %>">
  <%= link_to "SENT", mailbox_sent_path, class: "btn-flat"  %>
  </li>
  <li class="<%= active_page(:trash) %>">
  <%= link_to "TRASH", mailbox_trash_path, class: "btn-flat"  %>
  </li>
</ul>