<div class="project-form">
  <%= form_tag projects_results_path, :method => :get do %>
  <div class="form-field">
    <%= label_tag(:search, "Zip Code:") %>
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div class="form-field">
    <%= label_tag(:distance, "Distance:") %>
    <%= text_field_tag :distance, params[:distance] %>
  </div>
 <div class="submit-button">
  <%= submit_tag "Search Near", :name => nil %>
</div>
<% end %>
</div>