<h1>Edit Project</h1>
<div class="project_form">
  <%= form_for @project do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, cols: 80 %>
  </div>
  <div class="form-field">
    <%= f.label :skills_desired %>
    <%= f.text_area :skills_desired, rows: 10, cols: 80 %>
  </div>
  <div class="form-field">
    <%= label_tag :tags %>
    <%= text_field_tag :tags, @project.tags_for_edit %>
  </div>
  <div class="form-field">
    <%= f.label :repo_link %>
    <%= f.text_field :repo_link %>
  </div>
  <div class="form-field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div class="form-field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div class="form-field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="submit-button">
    <%= f.submit "Edit Project" %>
  </div>
  <% end %>
</div>
  <div class="submit-button">
    <%= f.submit "Create Project" %>
  </div>
  <% end %>
</div>
