<div class="project row">
	<div class="project-main left col s12 m9 l9">
		<div class="project-header row">
			<h1><%= @project.title%></h1> 
		</div>
		<div class="project-desc">
			<%= @project.description%>
		</div>

		<div class="status">
			<h4>Status: <span class="project-status"><%= @project.status %></span></h4>
		</div>
		<h3>Skills desired:</h3>
		<div class="requirement">
			<%= @project.skills_desired %>
		</div>

		<h3>Technologies Used:</h3>
		<div class="tags">
			<% @project.tags.each do |tag| %>
		<div class="tag"><%= link_to tag.name, tag_path(tag)%></div>
			<% end %>
		</div>

		<% if @project.start_date %>
			<div class="date">Start date: <%= @project.start_date %></div>
		<% end %>

		<% if @project.end_date %>
			<div class="date">End date: <%= @project.end_date %></div>
		<% end %>
	</div>

	<div class="sidebar right col s12 m3 l3 center-align">
	<% if user_can_edit?(@project)%>
			<div class="edit-links">
					<%= button_to "Edit Project", edit_project_path(@project), method: 'get', class: "btn-flat" %>
				<%= button_to "Delete Project", @project, method: 'delete', class: "btn-flat" %>
			</div>
		<% end %>

	<% if @project.creator != current_user%>
		<div class="contact">
			<div class="request-collaboration">
				<%= button_to "Collaboration Request", "/projects/#{@project.id}/collaborations", class: "btn"  %>
			</div>

			<%= link_to "Message Project Owner", "#msg", class: "btn modal-trigger" %>
		</div>
	<% end %>
	<div class="collaborators">
	 <h3>Project collaborators:</h3>
		<div class="creator">
			<%= render @project.creator %>
			<div class="location"><%= @project.creator.location%></div>
		</div>

		<%= render @active_collaborators %>
	</div>

</div>

</div>

<div id="msg" class="modal">
	<div class="modal-content">
		<%= render partial: 'conversations/form', locals: {recipient: @project.creator, project: @project.id}%>
	</div>
</div>