<div class="project row">
	<div class="project-main left col s12 m9 l9">
	<% if @project.level%>
      <div class="level <%= @project.level%>"><%= @project.level%></div>
    <% end %>
		<div class="project-header row">
			<h1><%= @project.title%></h1>
			<div class="status"><%= @project.status %></div>
		</div>
		<div class="project-tags row">
	 		<label>Tags</label>
      <%= render @project.tags %>
		</div>

		<div class="dates">
			<% if @project.start_date %>
				<div class="start"><label>Start date:</label> <%= format_date(@project.start_date) %></div>
			<% end %>

			<% if @project.end_date %>
				<div class="end"><label>End date:</label><%= format_date(@project.end_date) %></div>
			<% end %>
		</div>

		<div class="project-desc">
			<%= @project.description%>
		</div>

		<div class="collaborators row">
	 		<h3>Project collaborators:</h3>
	 		<% if @active_collaborators.empty? %>
				<p>This project has no collaborators yet.</p>
			<% else %>
				<%= render @active_collaborators %>
			<% end %>
		</div>

		<h3>Skills desired:</h3>
		<div class="requirement">
			<%= @project.skills_desired %>
		</div>
	</div>

	<div class="sidebar right col s12 m3 l3 center-align">
	<% if user_can_edit?(@project)%>
			<div class="edit-links">
					<%= button_to "Edit Project", edit_project_path(@project), method: 'get', class: "btn-flat" %>
				<%= button_to "Delete Project", @project, method: 'delete', class: "btn-flat" %>
			</div>
		<% end %>

	<% if @project.creator != current_user%>
		<div class="contact">
			<div class="request-collaboration">
				<%= button_to "Collaboration Request", "/projects/#{@project.id}/collaborations", class: "btn"  %>
			</div>

			<%= link_to "Message Project Owner", "#msg", class: "btn modal-trigger" %>
		</div>
	<% end %>

		<div class="creator">
			<h3>Project creator: </h3>
			<div class="user">
			  <%= link_to user_path(@project.creator), class: 'center-align' do %>
			    <%= image_tag @project.creator.gravatar_url(150), class: 'center-align responsive-img circle' %>
    	<h3><%= @project.creator.username %></h3>
  <% end %>
</div>
			<div class="location"><%= @project.creator.city%>, <%= @project.creator.state%></div>
		</div>
</div>

</div>

<div id="msg" class="modal">
	<div class="modal-content">
		<%= render partial: 'conversations/form', locals: {recipient: @project.creator, project: @project.id}%>
	</div>
</div>