<h2><%= @project.title%></h2>
<div>Project Lead: <%= link_to @project.creator.username, user_path(@project.creator) %></div>
<div>About: <%= @project.description%></div>
<div>Status: <%= @project.status %></div>
<div>Skills desired: <%= @project.skills_desired %></div>
<% if @project.start_date %>
	<div>Start date: <%= @project.start_date %></div>
<% end %>
<% if @project.end_date %>
	<div>End date: <%= @project.end_date %></div>
<% end %>
<% if @project.repo_link %>
	<div>Link to repo: <a href="<%= @project.repo_link%>"><%= @project.repo_link %></a></div>
<% end %>
<% unless @project.collaborators.empty? %>
	<div>Collaborators of this project: </div>
		<div>
			<% @project.collaborators.each do |collaborator| %>
				<%= link_to collaborator.username, user_path(collaborator) %>
			<% end %>
		</div>
<% end %>

<div class = "tags">
	<% @project.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag)%>
	<% end %>
</div>>