
<% if @project.creator != current_user%>
	<div class="request-collaboration">
		<%= button_to "Collaborate on this project!", "/projects/#{@project.id}/collaborations" %>
	</div>
<% end %>

<h2><%= @project.title%></h2>
<div class="project-desc">
	<%= @project.description%>
</div>

<div class="status">
	Status: <%= @project.status %>
</div>
<div class="requirement">
	Skills desired: <%= @project.skills_desired %>
</div>

<div class="tags">
	<% @project.tags.each do |tag| %>
		<div class="tag"><%= link_to tag.name, tag_path(tag)%></div>
	<% end %>
</div>

<% if @project.repo_link %>
	<div class="link"><%= link_to "Github", @project.repo_link %></a></div>
<% end %>

<% if @project.start_date %>
	<div class="date">Start date: <%= @project.start_date %></div>
<% end %>
<% if @project.end_date %>
	<div class="date">End date: <%= @project.end_date %></div>
<% end %>

<div class="tags">
	<% @project.tags.each do |tag| %>
		<div class="tag"><%= link_to tag.name, tag_path(tag)%></div>
		<% end %>
</div>

<div class="collaborators">Project collaborators:
	<div>
	<%= link_to @project.creator.username, user_path(@project.creator) %>
	</div>
	<% unless @active_collaborators.empty? %>
			<div>
				<% @active_collaborators.each do |collaborator| %>
					<%= link_to collaborator.username, user_path(collaborator) %>
				<% end %>
			</div>
	<% end %>
</div>

<%= render partial: 'conversations/form', locals: {recipient: @project.creator}%>


