<nav>
<div class="nav-wrapper">
  <ul>
    <li id="name">
    <%= image_tag "hive-logo.png" %>
    </li>
  </ul>
  <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

    <% if current_user %>
      <ul class="right hide-on-med-and-down">
        <li class="profile"><a class="dropdown-button" href="#!" data-activates="user-dropdown" data-hover="true" data-beloworigin="true"><%= current_user.username %><i class="material-icons">arrow_drop_down</i></a></li>
        <li class="logout"><%= link_to "Logout", logout_path %></li>
      </ul>
      
    <% end %>

    <ul class="side-nav" id="mobile-menu">
        <li><%= link_to current_user.username, user_path(session[:user_id]) %></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </div>
</nav>

<ul id="user-dropdown" class="dropdown-content">
  <li><%= link_to "Add New Project", new_project_path, class: "new-project" %></li>
  <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "edit-profile"  %></li>
</ul>