<nav>
<div class="nav-wrapper">
  <ul>
    <li id="name">
    <%= link_to root_path do %>
      <%= image_tag "hive-logo.png" %>
    <% end %>
    </li>
  </ul>

  <% if current_user %>
    <ul id="mobile-menu" class="side-nav">
      <li><%= link_to "Add New Project", new_project_path, class: "new-project" %></li>
      <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "edit-profile"  %></li>
      <li class="logout"><%= link_to "Logout", logout_path %></li>
    </ul>
    <a href="#" data-activates="mobile-menu" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li class="profile"><a class="dropdown-button" href="#!" data-activates="user-dropdown" data-hover="true" data-beloworigin="true"><%= current_user.username %><i class="material-icons">arrow_drop_down</i></a></li>
      <li class="logout"><%= link_to "Logout", logout_path %></li>
    </ul>
  <% end %>
  </div>
</nav>

<% if current_user %>
  <ul id="user-dropdown" class="dropdown-content">
    <li><%= link_to "Add New Project", new_project_path, class: "new-project" %></li>
    <li><%= link_to "Edit Profile", edit_user_path(current_user), class: "edit-profile"  %></li>
  </ul>
<% end %>
