<!DOCTYPE html>
<html>
<head>
  <title>TheHive</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="flash">
  <% if flash[:success]%>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error]%>
    <% flash[:error].each do |error| %>
      <div class="error"><%= error %></div>
    <% end %>
  <% end %>
</div>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
