<!DOCTYPE html>
<html>
<head>
  <title>TheHive</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= javascript_include_tag 'application' %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
<%= render 'layouts/header' %>
<% else %>
<div class="content">
  <div class="flash">
    <% if flash[:notice]%>
      <div class="success light-green lighten-2"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:errors]%>
      <% flash[:errors].each do |error| %>
        <div class="error red lighten-1"><%= error %></div>
      <% end %>
    <% end %>
  </div>
  <%= yield %>
</div>
<% end %>
</body>
</html>
